<div class="container">
  <div class="row">
    <div class="w-75 mx-auto">
      <h4 class="pb-5">配送先編集</h4>
      <%= render 'public/deliveries/form', delivery: @delivery  %>
    </div>
  </div>
</div>